body {
    font-family: "Times New Roman", serif;
    margin: 0;
    background-color: white;
}

header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 10px;
    padding: 5px;
    color: yellow;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}
section ul {
    list-style-position: inside;
    padding-left: 0;
}
button {
    background-color: yellow;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
nav a:hover {
    color: red;
    background-color: yellow;
}
section img {
    width: 300px;
    height: auto;
}
footer {
    text-align: center;
    padding: 10px;
    background: #eee;
}